<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Knapsack</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: 	#D8BFD8;">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
     

            <nav class="navbar navbar-expand-md navbar-dark bg-white">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="row-1">
                                <div class="text-left">
                                    <img src="https://i.ibb.co/k9DXM56/303-3036090-mochila-icono-vectorial-gratis-diseado-por-freepik-icon-2.png" class="img-fluid rounded d-block"width="90%" height="90%">
                                </div>    
                        </li>
                        <li class="nav-item">
                            <div class="row-2 text-uppercase">
                                <h1 class="navbar-brand" href="#"  style="color: gray">Knapsack Problem</h1>
                            </div>
                        </li>
 
                        
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <div class="text-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_del_ITESM.svg" class="img-fluid rounded"width="10%" height="10%">
                    </div>    
                </div>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="row-2 text-right">
                                <h1 class="navbar-brand" href="#"  style="color: gray">Manuel</h1>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="row-2 text-right">
                                <h1 class="navbar-brand" href="#"  style="color: gray">Mónica</h1>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="container">
            {% block body_block %}

            {% endblock %}
        </div>
    </body>
</html>
