<!DOCTYPE html>
{% extends 'knapsackapp/base.html' %} 

    {% block body_block %} 
    <section class="light ">
        <div class="container py-2 ">
            <article class="postcard light blue shadow-lg p-3 mb-5 rounded">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://ep01.epimg.net/verne/imagenes/2017/09/20/mexico/1505938589_047573_1505945160_sumario_normal.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue">Problemática</h1>
          
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Los temblores son fenómenos que ocurren de una manera,
                        en ocasiones, repentina, dónde solo existen pocos minutos para prepararse
                        para las consecuencias que pueda traer el evento por vivir. Como habitantes
                        de la Ciudad de México, estamos al tanto de los movimientos telúricos que
                        suceden año tras año, desde la magnitud más imperceptible, hasta aquella
                        que ha ocasionado tragedias en la principal metrópoli del país y las zonas aledañas afectadas
                        por el fenómeno natural. Por esto
                        mismo, se nos ha enseñado de contar con una mochila con ciertos
                        elementos de gran relevancia que, en caso de un derrumbe, pueda ser la
                        mochila la que contenga los elementos necesarios para salvar nuestra vida
                        o aquella de quienes nos acompañan.</div>

                </div>
            </article>
            <article class="postcard light red shadow-lg p-3 mb-5 rounded">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://selecthealth.org/-/media/selecthealth/blogs/post/2021/09/emergency_kit_fb_sm.ashx?h=630&w=1200" alt="Image Title" />	
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red"><a href="#">Mochila de Emergencia</a></h1>
 
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">  Dicha mochila debe contar, de forma
                        obligatoria, con elementos que necesitemos para sobrevivir por largos
                        periodos de tiempo, como es el agua o ciertos alimentos; no solo eso, si no
                        con elementos que consideremos importantes de salvar de nuestro hogar sin
                        que estos ocupen espacio designado para aquello vital, aún teniendo en
                        cuenta que puede haber un derrumbe sin estar presentes dentro de los
                        escombros.</div>
     
                </div>
            </article>
            <article class="postcard light green shadow-lg p-3 mb-5 rounded">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://justdigital.agency/wp-content/uploads/2017/09/pair-programing-main-1024x572.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title green"><a href="#">Alternativa</a></h1>

                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">Este problema afecta a todo aquel ser humano que se encuentre en zonas
                        sísmicas y pasen por este desastre natural dentro de su hogar, teniendo la
                        oportunidad y el tiempo necesario para salir o acudir a una zona segura.
                        Contar con una forma óptima de saber que elementos guardar en una
                        mochila de emergencia, ya sea en el minuto previo de preparación que se
                        anuncia por, de existir en la zona correspondiente donde se habita, la alarma
                        sísmica, o como manera de prevenir y tener dentro del hogar.</div>
                        <button type ="button"class="btn btn-warning btn-sm" style="width:10vh; float:right; margin :0 auto; margin-right: 10px;">
                            <a href="{% url 'input' %}">Avanzar</a>
                        </button>
                </div>
           
            </article>
  
        </div>
    </section>
    
    <style>

/* This pen */
 
 
    </style>
    {% endblock %}